
// Margin
.m--none {
    margin: none;
}

.m--auto {
    margin: auto;
}

.m--ti {
    margin: $space_ti;
}

.m--mi {
    margin: $space_mi;
}

.m--xs {
    margin: $space_xs;
}

.m--sm {
    margin: $space_sm;
}

.m--st {
    margin: $space_st;
}

.m--md {
    margin: $space_md;
}

.m--lg {
    margin: $space_lg;
}

.m--xl {
    margin: $space_xl;
}

.m--xxl {
    margin: $space_xxl;
}

.mx--none {
    margin-right: none;
    margin-left: none;
}

.mx--auto {
    margin-right: auto;
    margin-left: auto;
}


.mx--ti {
    margin-right: $space_ti;
    margin-left: $space_ti;
}

.mx--mi {
    margin-right: $space_mi;
    margin-left: $space_mi;
}

.mx--xs {
    margin-right: $space_xs;
    margin-left: $space_xs;
}

.mx--sm {
    margin-right: $space_sm;
    margin-left: $space_sm;
}

.mx--st {
    margin-right: $space_st;
    margin-left: $space_st;
}

.mx--md {
    margin-right: $space_md;
    margin-left: $space_md;
}

.mx--lg {
    margin-right: $space_lg;
    margin-left: $space_lg;
}

.mx--xl {
    margin-right: $space_xl;
    margin-left: $space_xl;
}

.mx--xxl {
    margin-right: $space_xxl;
    margin-left: $space_xxl;
}

.my--none {
    margin-top: none;
    margin-bottom: none;
}

.my--auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my--ti {
    margin-top: $space_ti;
    margin-bottom: $space_ti;
}

.my--mi {
    margin-top: $space_mi;
    margin-bottom: $space_mi;
}

.my--xs {
    margin-top: $space_xs;
    margin-bottom: $space_xs;
}

.my--sm {
    margin-top: $space_sm;
    margin-bottom: $space_sm;
}

.my--st {
    margin-top: $space_st;
    margin-bottom: $space_st;
}

.my--md {
    margin-top: $space_md;
    margin-bottom: $space_md;
}

.my--lg {
    margin-top: $space_lg;
    margin-bottom: $space_lg;
}

.my--xl {
    margin-top: $space_xl;
    margin-bottom: $space_xl;
}

.my--xxl {
    margin-top: $space_xxl;
    margin-bottom: $space_xxl;
}

.mt--none {
    margin-top: none;
}

.mt--auto {
    margin-top: auto;
}

.mt--ti {
    margin-top: $space_ti;
}

.mt--mi {
    margin-top: $space_mi;
}

.mt--xs {
    margin-top: $space_xs;
}

.mt--sm {
    margin-top: $space_sm;
}

.mt--st {
    margin-top: $space_st;
}

.mt--md {
    margin-top: $space_md;
}

.mt--lg {
    margin-top: $space_lg;
}

.mt--xl {
    margin-top: $space_xl;
}

.mt--xxl {
    margin-top: $space_xxl;
}

.mb--none {
    margin-bottom: none;
}

.mb--auto {
    margin-bottom: auto;
}


.mb--ti {
    margin-bottom: $space_ti;
}

.mb--mi {
    margin-bottom: $space_mi;
}

.mb--xs {
    margin-bottom: $space_xs;
}

.mb--sm {
    margin-bottom: $space_sm;
}

.mb--st {
    margin-bottom: $space_st;
}

.mb--md {
    margin-bottom: $space_md;
}

.mb--lg {
    margin-bottom: $space_lg;
}

.mb--xl {
    margin-bottom: $space_xl;
}

.mb--xxl {
    margin-bottom: $space_xxl;
}

.mr--none {
    margin-right: none;
}

.mr--auto {
    margin-right: auto;
}

.mr--ti {
    margin-right: $space_ti;
}

.mr--mi {
    margin-right: $space_mi;
}

.mr--xs {
    margin-right: $space_xs;
}

.mr--sm {
    margin-right: $space_sm;
}

.mr--st {
    margin-right: $space_st;
}

.mr--md {
    margin-right: $space_md;
}

.mr--lg {
    margin-right: $space_lg;
}

.mr--xl {
    margin-right: $space_xl;
}

.mr--xxl {
    margin-right: $space_xxl;
}

.ml--none {
    margin-left: none;
}

.ml--auto {
    margin-left: auto;
}

.ml--ti {
    margin-left: $space_ti;
}

.ml--mi {
    margin-left: $space_mi;
}

.ml--xs {
    margin-left: $space_xs;
}

.ml--sm {
    margin-left: $space_sm;
}

.ml--st {
    margin-left: $space_st;
}

.ml--md {
    margin-left: $space_md;
}

.ml--lg {
    margin-left: $space_lg;
}

.ml--xl {
    margin-left: $space_xl;
}

.ml--xxl {
    margin-left: $space_xxl;
}

// Padding

.p--none {
    padding: none;
}

.p--auto {
    padding: auto;
}

.p--ti {
    padding: $space_ti;
}

.p--mi {
    padding: $space_mi;
}

.p--xs {
    padding: $space_xs;
}

.p--sm {
    padding: $space_sm;
}

.p--st {
    padding: $space_st;
}

.p--md {
    padding: $space_md;
}

.p--lg {
    padding: $space_lg;
}

.p--xl {
    padding: $space_xl;
}

.p--xxl {
    padding: $space_xxl;
}

.px--none {
    padding-right: none;
    padding-left: none;
}

.px--auto {
    padding-right: auto;
    padding-left: auto;
}

.px--ti {
    padding-right: $space_ti;
    padding-left: $space_ti;
}


.px--mi {
    padding-right: $space_mi;
    padding-left: $space_mi;
}

.px--xs {
    padding-right: $space_xs;
    padding-left: $space_xs;
}

.px--sm {
    padding-right: $space_sm;
    padding-left: $space_sm;
}

.px--st {
    padding-right: $space_st;
    padding-left: $space_st;
}

.px--md {
    padding-right: $space_md;
    padding-left: $space_md;
}

.px--lg {
    padding-right: $space_lg;
    padding-left: $space_lg;
}

.px--xl {
    padding-right: $space_xl;
    padding-left: $space_xl;
}

.px--xxl {
    padding-right: $space_xxl;
    padding-left: $space_xxl;
}

.my--none {
    padding-top: none;
    padding-bottom: none;
}

.my--auto {
    padding-top: auto;
    padding-bottom: auto;
}

.my--ti {
    padding-top: $space_ti;
    padding-bottom: $space_ti;
}

.my--mi {
    padding-top: $space_mi;
    padding-bottom: $space_mi;
}

.my--xs {
    padding-top: $space_xs;
    padding-bottom: $space_xs;
}

.my--sm {
    padding-top: $space_sm;
    padding-bottom: $space_sm;
}

.my--st {
    padding-top: $space_st;
    padding-bottom: $space_st;
}

.my--md {
    padding-top: $space_md;
    padding-bottom: $space_md;
}

.my--lg {
    padding-top: $space_lg;
    padding-bottom: $space_lg;
}

.my--xl {
    padding-top: $space_xl;
    padding-bottom: $space_xl;
}

.my--xxl {
    padding-top: $space_xxl;
    padding-bottom: $space_xxl;
}

.pt--none {
    padding-top: none;
}

.pt--auto {
    padding-top: auto;
}

.pt--ti {
    padding-top: $space_ti;
}

.pt--mi {
    padding-top: $space_mi;
}

.pt--xs {
    padding-top: $space_xs;
}

.pt--sm {
    padding-top: $space_sm;
}

.pt--st {
    padding-top: $space_st;
}

.pt--md {
    padding-top: $space_md;
}

.pt--lg {
    padding-top: $space_lg;
}

.pt--xl {
    padding-top: $space_xl;
}

.pt--xxl {
    padding-top: $space_xxl;
}

.pb--none {
    padding-bottom: none;
}

.pb--auto {
    padding-bottom: auto;
}

.pb--ti {
    padding-bottom: $space_ti;
}

.pb--mi {
    padding-bottom: $space_mi;
}

.pb--xs {
    padding-bottom: $space_xs;
}

.pb--sm {
    padding-bottom: $space_sm;
}

.pb--st {
    padding-bottom: $space_st;
}

.pb--md {
    padding-bottom: $space_md;
}

.pb--lg {
    padding-bottom: $space_lg;
}

.pb--xl {
    padding-bottom: $space_xl;
}

.pb--xxl {
    padding-bottom: $space_xxl;
}

.pr--none {
    padding-right: none;
}

.pr--auto {
    padding-right: auto;
}

.pr--ti {
    padding-right: $space_ti;
}

.pr--mi {
    padding-right: $space_mi;
}

.pr--xs {
    padding-right: $space_xs;
}

.pr--sm {
    padding-right: $space_sm;
}

.pr--st {
    padding-right: $space_st;
}

.pr--md {
    padding-right: $space_md;
}

.pr--lg {
    padding-right: $space_lg;
}

.pr--xl {
    padding-right: $space_xl;
}

.pr--xxl {
    padding-right: $space_xxl;
}

.pl--none {
    padding-left: none;
}

.pl--auto {
    padding-left: auto;
}

.pl--ti {
    padding-left: $space_ti;
}

.pl--mi {
    padding-left: $space_mi;
}

.pl--xs {
    padding-left: $space_xs;
}

.pl--sm {
    padding-left: $space_sm;
}

.pl--st {
    padding-left: $space_st;
}

.pl--md {
    padding-left: $space_md;
}

.pl--lg {
    padding-left: $space_lg;
}

.pl--xl {
    padding-left: $space_xl;
}

.pl--xxl {
    padding-left: $space_xxl;
}
