$base_text:  #202022;

// Fonts
$fs_tiny: 10px;
$fs_caption: 12px;
$fs_body: 14px;
$fs_lead: 16px;
$fs_h4: 20px;
$fs_h3: 24px;
$fs_h2: 32px;
$fs_h1: 48px;
$fs_hero: 80px;
$fs_super: 112px;

// Weight
$weight_normal               : 400;
$weight_medium               : 500;
$weight_bold                 : 600;
$weight_bolder               : 700;


// Spaces
$space_xxl                  : 65px;
$space_xl                   : 56px;
$space_lg                   : 40px;
$space_md                   : 32px;
$space_st                   : 24px;
$space_sm                   : 16px;
$space_xs                   : 12px;
$space_mi                   : 8px;
$space_ti                   : 4px;


// Radius
$radius_sm: 2px;
$radius_st: 4px;
$radius_md: 6px;
$radius_lg: 8px;
$radius_xl: 12px;

$primary: #6f3caf;
$muted: #9c9cbc;
$link: #0052cc;

$primary_bg: #9b65de;
$muted_bg: #f5f7fc;
$grey_bg: #f5f5f5;

